:root {
  background: #1c1c1e;
  color: #ffffff;
  font-family: arial;

  /* Variables */
  --grid-size: 96px calc(100% - 504px) 120px 96px 96px 96px;
}

.list {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 50%;
  margin: 0;
}


.listkey {
  font-family: monospace;
  display: grid;
  grid-template-columns: var(--grid-size);
  border-bottom: 1px solid #ffffff;
  margin-bottom: 5px;
  position: relative;
  right: 8px;
}

.listkey p {
  margin: 0;
}

.listitems {
  overflow-y: auto;
  position: absolute;
  left: 0px;
  width: 100%;
  height: calc(50% - 33px);
}

.listitem {
  font-family: monospace;
  display: grid;
  grid-template-columns: var(--grid-size);
  border-bottom: 1px solid #ffffff;
  margin-bottom: 5px;
}

.listitem p {
  margin: 0;
}

.bottom_left {
  position: absolute;
  bottom: 0px;
  left: 16px;
  top: 50%;
  width: calc(50% - 16px);
  text-align: center;
  margin-top: 10px;
}

.bottom_right {
  position: absolute;
  bottom: 0px;
  left: calc(50% + 16px);
  top: 50%;
  width: calc(50% - 33px);
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.options > p, .with-border {
  border-style: solid;
  border-color: #ccc;
  border-radius: 10px;
}

.log {
  text-align: left;
  overflow-y: auto;
  height: calc(100% - 18px - 16px - 16px); 
}

div label input {
  margin-right:100px;
}
body {
   font-family:sans-serif;
}